<mat-vertical-stepper [linear]="true">
  <mat-step [stepControl]="titleFormGroup">
    <form [formGroup]="titleFormGroup">
      <ng-template matStepLabel>Gib dem Rezept einen Namen</ng-template>
      <mat-form-field>
        <input matInput placeholder="Name" formControlName="nameCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext [disabled]="titleFormGroup.controls.nameCtrl.hasError('required')">Weiter</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="timeFormGroup">
    <form [formGroup]="timeFormGroup">
      <ng-template matStepLabel>Gib die Zubereitungszeit an</ng-template>
      <mat-form-field>
        <input matInput placeholder="Stunden" formControlName="hourCtrl" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Minuten" formControlName="minuteCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Zurück</button>
        <button mat-button matStepperNext>Weiter</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="ingredientFormGroup">
    <form [formGroup]="ingredientFormGroup">
      <ng-template matStepLabel>Zutaten hinzufügen</ng-template>
      <div class="ingredient-input-fields" *ngFor="let in of ingredientFields">
        <mat-form-field>
          <mat-label>Zutat</mat-label>
          <mat-select [formControlName]="in.fromCtrlNameIng">
            <mat-option *ngFor="let ing of ingredients" [value]="ing.title">
              {{ing.title}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Menge" [formControlName]="in.formCtrlNameAmount" required>
        </mat-form-field>
      </div>
      <div>
        <button mat-icon-button (click)="addIngredientInput()"><mat-icon>add_circle_outline</mat-icon></button>
      </div>
      <p></p>
      <div class="add-ingredient">
        <button mat-button (click)="openDialog()">Neue Zutat erstellen</button>
      </div>
      <div>
        <button mat-button matStepperPrevious>Zurück</button>
        <button mat-button matStepperNext>Weiter</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="descFormGroup">
    <form [formGroup]="descFormGroup" style="width: 100%">
      <ng-template matStepLabel>Beschreibe die Zubereitungsschritte</ng-template>
      <mat-form-field style="width: 100%">
        <textarea matInput placeholder="Beschreibung" formControlName="description" required></textarea>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Weiter</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="urlFormGroup">
    <form [formGroup]="urlFormGroup">
      <ng-template matStepLabel>Füge noch zwei Bilder hinzu</ng-template>
      <mat-form-field>
        <input matInput placeholder="Hauptbild (URL)" formControlName="url1" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Hintergrund (URL)" formControlName="url2" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Weiter</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Fertig</ng-template>
    Das war's!
    <div>
      <button mat-button matStepperPrevious>Zurück</button>
      <button mat-button (click)="saveRecipe()" routerLink="/">Speichern</button>
    </div>
  </mat-step>
</mat-vertical-stepper>
