.title-image {
  max-height: 221px;
  object-fit: cover;
  object-position: 50% 0;
}
.recipes-container {
  display: inline-flex;
  flex-wrap: wrap;
}
@media (max-width: 719px) {
  .recipes-container {
    display: grid;
    justify-items: center;
  }
}
.recipe {
  width: 300px;
  min-width: 300px;
  margin: 10px;
}
.title-text {
  margin: 6px 0;
  width: 75%;
  display: flex;
  justify-content: flex-start;
}
.title-text mat-card-title {
  margin: auto 0;
}
.title-icon {
  width: 25%;
  display: flex;
  justify-content: flex-end;
}
