.mat-toolbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
}
.toolbar-content {
  width: 100%;
  display: inline-flex;
}
.title {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  font-weight: bold;
}
.icons {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
.icons mat-icon {
  margin-right: 10px;
}
