<div
  class="background"
  (click)="openCloseShoppingList()"
  [@background_opacity]="{value: listState}"
  [@background_display]="{value: listState}"
></div>
<div class="content" [@openClose]="{value: listState}">
  <mat-list>
    <h3 mat-subheader>Folders</h3>
    <mat-list-item>
      <h4 mat-line>Some Content</h4>
    </mat-list-item>
    <mat-divider></mat-divider>
    <h3 mat-subheader>Notes</h3>
    <mat-list-item>
      <h4 mat-line>Some more Content</h4>
    </mat-list-item>
    <h3 mat-subheader>Folders</h3>
    <mat-list-item>
      <h4 mat-line>Some Content</h4>
    </mat-list-item>
    <mat-divider></mat-divider>
    <h3 mat-subheader>Notes</h3>
    <mat-list-item>
      <h4 mat-line>Some more Content</h4>
    </mat-list-item>
    <h3 mat-subheader>Folders</h3>
    <mat-list-item>
      <h4 mat-line>Some Content</h4>
    </mat-list-item>
    <mat-divider></mat-divider>
    <h3 mat-subheader>Notes</h3>
    <mat-list-item>
      <h4 mat-line>Some more Content</h4>
    </mat-list-item>
    <h3 mat-subheader>Folders</h3>
    <mat-list-item>
      <h4 mat-line>Some Content</h4>
    </mat-list-item>
    <mat-divider></mat-divider>
    <h3 mat-subheader>Notes</h3>
    <mat-list-item>
      <h4 mat-line>Some more Content</h4>
    </mat-list-item>
    <h3 mat-subheader>Folders</h3>
    <mat-list-item>
      <h4 mat-line>Some Content</h4>
    </mat-list-item>
    <mat-divider></mat-divider>
    <h3 mat-subheader>Notes</h3>
    <mat-list-item>
      <h4 mat-line>Some more Content</h4>
    </mat-list-item>
    <h3 mat-subheader>Folders</h3>
    <mat-list-item>
      <h4 mat-line>Some Content</h4>
    </mat-list-item>
    <mat-divider></mat-divider>
    <h3 mat-subheader>Notes</h3>
    <mat-list-item>
      <h4 mat-line>Some more Content</h4>
    </mat-list-item>
  </mat-list>
</div>
