.content {
  position: fixed;
  width: 300px;
  height: calc(100% - 64px);
  top: 64px;
  left: 100%;
  background-color: white;
  overflow-y: scroll;
  z-index: 201;
}
.background {
  position: fixed;
  width: 100%;
  height: calc(100% - 64px);
  top: 64px;
  left: 0;
  background-color: black;
  opacity: 0;
  display: none;
  z-index: 200;
}
.custom-badge.mat-badge-content {
  width: fit-content;
  text-align: center;
  border-radius: 7px;
  left: 13px;
}
.no-items {
  padding-left: 10px;
}
@media (max-width: 599px) {
  .content {
    position: fixed;
    width: 300px;
    height: calc(100% - 56px);
    top: 56px;
    left: 100%;
    background-color: white;
    overflow-y: scroll;
    z-index: 201;
  }
  .background {
    position: fixed;
    width: 100%;
    height: calc(100% - 56px);
    top: 56px;
    left: 0;
    background-color: black;
    opacity: 0;
    display: none;
    z-index: 200;
  }
}
