<div
  class="background"
  (click)="openCloseShoppingList()"
  [@background_opacity]="{value: listState}"
  [@background_display]="{value: listState}"
></div>
<div class="content" [@openClose]="{value: listState}">
  <mat-list>
    <div class="header-+-content" *ngFor="let cat of categories.categories">
      <h3 mat-subheader>{{cat}} x{{categories.amounts.get(cat)}}</h3>
      <div  *ngFor="let ingredient of list">
        <mat-list-item *ngIf="ingredient.category === cat">
          <h4 mat-line>{{ingredient.title}}</h4>
        </mat-list-item>
      </div>
    </div>
  </mat-list>
</div>
