<!--The content below is only a placeholder and can be replaced.-->
<div class="content">
  <router-outlet></router-outlet>
</div>

<mat-toolbar class="mat-toolbar mat-elevation-z8" color="primary">
  <div class="toolbar-content">
    <div class="title">
      Rezepte
    </div>
    <div class="icons">
      <mat-icon (click)="openCloseShoppingList()" [matBadge]="badgeCount" matBadgePosition="above after" matBadgeColor="accent">shopping_cart</mat-icon>
      <mat-icon>perm_identity</mat-icon>
    </div>
  </div>
</mat-toolbar>
<app-fab></app-fab>
<app-shopping-list></app-shopping-list>
