<div class="main-container">
  <div class="background-image">
    <img [src]="recipe.pictures[1]" alt="Background pic">
  </div>
  <div class="header mat-elevation-z8">
    <div class="recipe-name">
      <p>
        {{recipe.title}}
      </p>
    </div>
  </div>
  <div class="recipe-main-image">
    <div class="image-section">
      <img [src]="recipe.pictures[0]" alt="Profile Pic" class="mat-elevation-z8">
    </div>
  </div>
  <div class="recipe-content">
    <mat-tab-group>
      <mat-tab label="Zutaten">
        <mat-list role="list">
          <mat-list-item role="listitem" *ngFor="let ingredient of recipe.ingredients">
            {{recipe.amounts.get(ingredient.title)}}{{ingredient.unit}} {{ingredient.title}}
            <button mat-icon-button (click)="addItemToList(ingredient, recipe.amounts.get(ingredient.title))">
              <mat-icon>
                add_circle
              </mat-icon>
            </button>
          </mat-list-item>
        </mat-list>
      </mat-tab>
      <mat-tab label="Beschreibung">
        <div class="recipe-description">
          <p>
            {{recipe.description}}
          </p>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
