.main-container {
  height: 130%;
}

.header {
  position: fixed;
  top: 64px;
  left: 0;
  height: 64px;
  width: 100%;
  background-color: rgb(103, 58, 183);
}
.recipe-name {
  display: flex;
  justify-content: left;
  padding-left: 16px;
  color: white;
  font-size: 20px;
  font-weight: 300;
}

.background-image {
  position: fixed;
  top: 0;
}

.user-profile-pic {
  position: fixed;
  top: 158px;
  left: 32px;
  height: 150px;
  width: 150px;
}

.user-profile-pic img {
  border-radius: 6px;
  height: 150px;
  width: 150px;
  object-fit: cover;
}

.user-content {
  position: fixed;
  display: inline-flex;
  top: 288px;
  left: 0;
  width: 100%;
  height: 200%;
  background-color: #ffffff;
  padding-top: 48px;
  padding-left: 16px;
  padding-right: 16px;
}

.user-content mat-tab-group {
  width: calc(100% - 32px);
}
